SUPABASE_URL=https://pbtngbwbieskvmutshbz.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBidG5nYndiaWVza3ZtdXRzaGJ6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI5NjQzMjksImV4cCI6MjA4ODU0MDMyOX0.WKcovbk8tpYMJlBHK8aleP1fkjimxVj1oBl9Dvn7WVY
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBidG5nYndiaWVza3ZtdXRzaGJ6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Mjk2NDMyOSwiZXhwIjoyMDg4NTQwMzI5fQ.EXI42MDNI3r6WjMQfZOIFbKMiZ863QxwmEJ6vwa37Do
