VITE_BASE_DOMAIN=theossphere.com
VITE_SUPABASE_URL=https://pbtngbwbieskvmutshbz.supabase.co
VITE_SUPABASE_ANON=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBidG5nYndiaWVza3ZtdXRzaGJ6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI5NjQzMjksImV4cCI6MjA4ODU0MDMyOX0.WKcovbk8tpYMJlBHK8aleP1fkjimxVj1oBl9Dvn7WVY
